Q1. What is a database? Differentiate between SQL and NoSQL databases.

Ans: Database : A database is information that is set up for easy access, management and updating  information efficiently. 
                In essence, it's an organized system for storing and retrieving information.
            
    Differences:
    SQL databases are relational and use structured query language (SQL) for defining and manipulating the data.
    NoSQL databases can be document-based, key-value pairs, column-based, or graph-based, providing flexibility
    in data representation.
    
    SQL stores data in the tabular for and can store the csv data , json data.
    NoSQL Stores data in the the file structure.
    
    SQL databases usually scale vertically by adding more power (CPU, RAM, SSD) to an existing machine.
    NoSQL databases are designed to scale horizontally across many servers, making it easier to handle 
    large amounts of data and high loads.

Q2. What is DDL? Explain why CREATE, DROP, ALTER, and TRUNCATE are used with an example.

Ans: DDL: DDL stands for Data Definition Language.It is the subset of SQL.It is a language for describing data and 
         its relationships in a database. You can generate DDL in a script for database objects to: Keep a snapshot 
         of the database structure.
        
    Use of the CREATE ,DROP , ALTER and TRUNCATE are:


CREATE:The CREATE command is used to create new database objects like tables, indexes, views, or databases.
Example: 
CREATE TABLE Employees (
    ID INT PRIMARY KEY,
    Name VARCHAR(50),
    Salary DECIMAL(10, 2)
);


DROP:The DROP command is used to delete database objects like tables, indexes, views, or databases.
      This command permanently removes the object and its data from the database.
Example:
    DROP TABLE Employees
    
ALTER:The ALTER command is used to modify the structure of an existing database object without dropping and recreating it.
       You can add, modify, or delete columns, constraints, or indexes using the ALTER command. 
Example:
    ALTER TABLE Employees
    ADD Department VARCHAR(50);
    
TRUNCATE:The TRUNCATE command is used to delete all records from a table but retains the table structure for further use
Example:
    TRUNCATE TABLE Employees;

Q3. What is DML? Explain INSERT, UPDATE, and DELETE with an example.

Ans:DML stands for Data Manipulation Language. It is a subset of SQL used for managing and manipulating data within the
    database objects.
    
    INSERT:The INSERT command is used to add new records or rows into a table.
    Example:
        INSERT INTO Employees (ID, Name, Salary, Department)
        VALUES (1, 'John Doe', 50000, 'HR');

    UPDATE:The UPDATE command is used to modify existing records or rows in a table based on specified conditions.
    Example:
    sql
    Copy code
    UPDATE Employees
    SET Salary = 55000
    WHERE Name = 'John Doe';
    
    DELETE: The DELETE command is used to remove records or rows from a table based on specified conditions. 
            If no condition is specified, it will remove all records from the table.
    Example:
    sql
    Copy code
    DELETE FROM Employees
    WHERE ID = 1;

Q4. What is DQL? Explain SELECT with an example.

Ans:DQL stands for Data Query Language. It is a subset of SQL used to retrieve or fetch data from the database tables.
    
    SELECT:The SELECT command is used to retrieve or fetch data records from one or multiple tables based on specified
           criteria.It allows users to select specific columns, filter rows using conditions, sort results, and perform 
           various operations like joins, aggregations, and subqueries.
    EXAMPLE:
        SELECT ID, Name, Salary 
        FROM Employees 
        WHERE Department = 'HR';

Q5. Explain Primary Key and Foreign Key.

ANS:Primary Key:A Primary Key is a or set attribute in a relational database table that uniquely identifies each record 
               in that table. Each table can have only one primary key, and the values in this column(s) must be unique
               and cannot contain NULL values.
                
    Foreign Key:A Foreign Key is a column or a set of columns in a table that establishes a link between data in two tables,
                where the foreign key in one table refers to the primary key in another table. It ensures referential integrity
                by maintaining the relationship between related tables.

Q6. Write a python code to connect MySQL to python. Explain the cursor() and execute() method.

In [3]:
#Ans: Python code to connect MySQL to python is as follws:
pip install mysql-connector-python
import mysql.connector

# Establishing a connection to MySQL database
mydb = mysql.connector.connect(
    host="localhost",       # Hostname
    user="username",        # Username
    password="password",    # Password
    database="mydatabase"   # Database name
)

print("Connected to MySQL database!")

ModuleNotFoundError: No module named 'mysql'


cursor() Method:The cursor() method creates a cursor object that allows you to execute SQL queries and fetch results
                from the database.
        
execute() Method:The execute() method is used to execute SQL queries or statements on the database using the cursor object.
                  It takes an SQL query as its argument and executes that query on the connected database.

Q7. Give the order of execution of SQL clauses in an SQL query.

Ans: The order of execution of SQL clauses in an SQL query are:
     FROM, WHERE, GROUP BY, HAVING, SELECT, ORDER BY, LIMIT
     you can construct efficient and effective SQL queries that retrieve, filter, aggregate, sort, and limit
     data based on your requirements and criteria.